.idea/
.pytest_cache/
.mypy_cache/
__pycache__/
notebooks/
ts_logger/
lightning_logs/

# Data files (too large for git)
data/CWE119/
data/*/XFG/
data/*/source-code/
data/*/csv/
data/*/*.json
data/*/*.wv

*.pyc
.*/
!.github/
!.dockerignore
*.html