torch>=2.0.0

# Code quality
black
mypy
pytest

# Data preprocessing
dpu-utils
wordninja
gensim>=4.0.0
networkx>=2.6

# Deep learning
torch-geometric>=2.3.0
pytorch-lightning>=2.0.0
torchmetrics
commode-utils>=0.4.0

# Utils
tqdm
omegaconf>=2.1.0
scikit-learn
tensorboard

jupyter
